<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="https://github.com/picturepan2/">
  <title>Layout - Spectre.css CSS Framework</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/spectre.min.css">
  <link rel="stylesheet" href="/css/docs.css">
</head>
<body>

<div class="s-container container">
    <div class="columns">
      

      <div id="sidebar" class="s-sidebar">
        <div class="s-brand">
          <a href="index.html" class="s-logo">
             <img src="/images/logo.svg" alt="databox sdk">
            <h2>sdk tutorial</h2>
          </a>
        </div>

        <div class="s-nav">
          <div class="accordion-container">
      
          
      
            {% include menu.html %}
      

          </div><!--accordian container -->
        </div><!--s-nav -->  
      </div> <!--sidebar -->

      <a href="#sidebar-close" id="sidebar-close" class="docs-nav-clear"></a>
      <div class="s-navbar">
     
        <div class="float-btn">
          <a href="https://github.com/picturepan2/spectre" target="_blank" class="btn btn-primary">GitHub</a>
        </div>
      </div>

     
        <div class="container">
            <div class="columns">
                
                  <div class="column col-12">
                    <div class="content">
                      {{content}}
                    </div>
                  </div>
           
            </div>
           <footer class="s-footer">
          <p><a href="https://github.com/me-box" target="_blank">GitHub</a></p>
        </footer>
      

        </div>

       

      </div>
 
    </div> <!-- container-->


  </div> <!-- columns -->
   
</body>
</html>
